* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Montserrat";
}
.rm_main {
  background-image: url("../img/bac.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
}
.rm_navBar {
  width: 100%;
  height: 80px;
  padding: 26px 4.6852%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rm_lift {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.rm_midd {
  display: block;
  text-align: center;
  color: #fff;
  padding-top: 26px;
  font-size: 1.3579rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rm_right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
  color: #fff;
  font-size: 1.3579rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.rm_right_phone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: #d8d8d8;
}
.rm_right_lang {
  color: #d8d8d8;
}
span {
  color: rgba(177, 173, 173, 0.68);
}
.rm_box {
  width: 500px;
  height: 507px;
  flex-shrink: 0;
  border-radius: var(--Small-cards-Radius, 24px);
  background: #fff;
  margin: 30px 4.6852% 32px auto;
}
.rm_barcode {
  width: 199.123px;
  height: 200px;
  flex-shrink: 0;
  margin: 53px auto;
  margin-bottom: 108px;
}
.rm_barcode_img{
    width: 199.123px;
    height: 200px;
    flex-shrink: 0;  
    margin : 72px auto;
}
.rm_box_p1,
.rm_box_p12 {
  color: var(--black, #282828);
  text-align: center;
  font-family: Montserrat;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 32px;
}

.rm_box_p2,
.rm_box_p22 {
  color: var(--black, #282828);
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 38.4px */
  font-size: 1.6rem;
}
.rm_here {
  color: var(--primary, #004e6b);
  font-family: Montserrat;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 141.4%;
  font-variant: small-caps;
  text-decoration-line: underline;
}
.rm_nav_small , .rm_keep_in{
  display: none;
}
@media screen and (max-width: 992px) {
  .rm_main {
    background-image: url("../img/bac.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
    background-position: 17%;
  }
  .blur{
    background: linear-gradient(
      169deg,
      rgba(0, 0, 0, 0.4) -30.96%,
      rgba(1, 1, 1, 0.1) 91.59%
    );
    backdrop-filter: blur(4px);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
  }
  .rm_main::before{
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 740px;
    background-color:  linear-gradient(169deg, rgba(0, 0, 0, 0.50) 0.56%, rgba(1, 1, 1, 0.13) 60.7%);

  }
  .rm_navBar {
    display: none;
  }
  .rm_nav_small {
    width: 100%;
    height: 67px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
    background: linear-gradient(
      169deg,
      rgba(0, 0, 0, 0.4) -30.96%,
      rgba(1, 1, 1, 0.1) 91.59%
    );
    backdrop-filter: blur(4px);
    padding: 20px 20px 14px 20px;
    position: relative;
    z-index: 2;
  }
  .rm_right_lang {
    color:#FFF;
    font-size: 1.2rem;
    font-weight: 500;
}
  .rm_logo {
    width: 35.692px;
    height: 14.929px;
  }
  .rm_midd{
    font-size: 1rem;
  }
  .rm_box {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: var(--Small-cards-Radius, 24px);
    background: #fff;
    margin: auto;
    position: relative;
    z-index: 2;
  }
  .rm_barcode {
    width: 199.123px;
    height: 200px;
    flex-shrink: 0;
    margin: 93px auto;
    margin-bottom: 45px;
  }
  .rm_barcode_img {
    width: 171.658px;
    height: 172.414px;
    flex-shrink: 0;
    margin: 14px auto;
    margin-left: 13px;
  }
  .rm_container_text {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .rm_box_p1,
  .rm_box_p12 {
    color: var(--white, #fffdfd);
    text-align: center;
    font-family: Montserrat;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    width: 197px;
    margin-bottom: 16px;
  }
  .rm_box_p2,
  .rm_box_p22 {
    color: var(--white, #fffdfd);
    text-align: center;
    font-family: Montserrat;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 141.4%;
    margin-left: -51px;

    width: 300px;
  }
  .rm_box_p22 {
    margin-bottom: 34px;
  }
  .rm_here {
    color: var(--white, #fffdfd);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 141.4%;
    font-variant: small-caps;
    text-decoration-line: underline;
  }
  .rm_keep_in{
    display: block;
  }
  .rm_keep {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
  }
  .rm_lift img {
    width: 26.6px;
    height: 26.6px;
  }
}
